<mat-card>
  <mat-card-content>
    <ng-container *ngIf="data | async as customer else newCustomer" >
      <div>
        <mat-label>
          <span>Id : </span>
          {{ customer.id }}
        </mat-label>
      </div>
      <div>
        <mat-label>
          <span>Name :</span>
          {{ customer.name }}
        </mat-label>
      </div>
      <div>
        <mat-label>
          <span>API Key : </span>
          {{ customer.apiKey }}
        </mat-label>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #newCustomer>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <h2>Add a new customer</h2>
    <mat-error class="mat-error" *ngIf="error">
      {{error}}
    </mat-error>
    <mat-form-field>
      <input matInput placeholder="New customer name" [(ngModel)]="customerName" name="customerName" required>
      <mat-error>
        Please provide a valid customer name
      </mat-error>
    </mat-form-field>
    <button class="add-button" mat-raised-button color="primary" [ngClass]="{'add-button-loading' : loading}" [class.spinner]="loading" [disabled]="loading">Save</button>
  </form>
</ng-template>
